<%= link_to t(:stats), volunteers_stats_path, class: "btn btn-default" %>
<%= link_to t(:stats_active), volunteers_stats_active_path, class: "btn btn-default" %>

<% @volunteers.each_with_index do |volunteer, idx| %>
    <div class="media">
      <div class="media-left volunteer-icon" title="<%= volunteer.school %>">
        <span style="background-color: <%= volunteer.school.to_colour %>"><%= volunteer.school.only_upper_case_nofirst %></span>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= volunteer.full_name %>
        <small>
          <%= volunteer.age %> <%=t :years_old %>, <%= volunteer.level %> <%= volunteer.property %>
        </small></h2>

        <p><%= simple_format(volunteer.interests) %></p>

        <% unless volunteer.health.to_s.empty? %>
          <p><strong><%= volunteer.health %></strong></p>
        <% end %>

        <p class="contact">
          <em><%=t :contact %>:</em> <%= volunteer.phone %>,
          <a href="mailto:<%= volunteer.email %>"><%= volunteer.email %></a>
          (<%= volunteer.property %> <%= volunteer.school %> - <em><%= link_to t(:more_info), admin_volunteer_path(volunteer) %></em>)
        </p>
      </div>
    </div>
<% end %>

<br>

<%= link_to 'New Volunteer', new_admin_volunteer_path %>
