<% if current_user.present? %>

<p>
  <a href="<%= events_path %>" class="btn btn-lg btn-primary"><%=t :see_events %></a>
  <a href="<%= volunteers_path %>" class="btn btn-lg btn-default"><%=t :see_volunteers %></a>
</p>

<div class="panel panel-default">
  <div role="heading" class="panel-heading"><%=t :language %></div>
  <div class="panel-body">
    <%= form_tag set_locale_path do %>
      <div class="btn-group" role="group">
        <% [:en, :el].each do |locale| %>
          <button type="submit" class="btn <%= I18n.locale == locale ? "btn-primary" : "btn-default" %>"
            name="locale" value="<%= locale %>">
            <%=t locale %>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% end %>