{% extends 'base.html.twig' %}

{% block title %}Import &mdash; Success{% endblock %}

{% block container_class %}container-fluid{% endblock %}

{% block body %}
    <h3>Imported objects</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Team</th>
            <th scope="col">Title</th>
            <th scope="col">Surname</th>
            <th scope="col">Name</th>
            <th scope="col">Full Description</th>
            <th scope="col">E-mail address</th>
            <th scope="col">Phone</th>
            <th scope="col">Short Description</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <th>{{ entity.id }}</th>
                <th>{#TODO: Add this#}</th>
                <td>{{ entity.team|default }}</td>
                <td>{{ entity.title|default }}</td>
                <td>{{ entity.surname|default }}</td>
                <td>{{ entity.name|default }}</td>
                <td>{{ entity.describe|default }}</td>
                <td>{{ entity.email|default }}</td>
                <td>{{ entity.phone|default }}</td>
                <td>{{ entity.shortDescription|default|truncate }}</td>
                {#<td>{{ entity.data }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
