Welcome to the schedule

<p>
  <%= link_to t(:simple_view), schedule_simple_path, class: "btn btn-default" %>
  <%= link_to t(:preview), schedule_preview_path, class: "btn btn-default" %>
</p>

<p>
  <%= link_to t(:schedule_in_docx), schedule_path(format: :docx), class: "btn btn-primary"  %>
  <%= link_to t(:schedule_in_odt), schedule_path(format: :odt), class: "btn btn-primary" %>
  <%= link_to t(:preview), schedule_preview_simple_path, class: "btn btn-default" %>
</p>
