<%= link_to t(:stats), events_stats_path, class: "btn btn-default" %>

<% @events.each_with_index do |event, idx| %>
    <hr>
    <div class="media" <%= 'style=opacity:0.3' if event.hidden? %>>
      <div class="media-left">
        <a href="<%= admin_event_path event %>" class="media-object event-kind" data-kind="<%= event.kind %>">
          <img src="<%= asset_path 'kinds/'+event.kind+'.png', type: :image %>" alt="<%=t event.kind.presence || 'other' %>">
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><%= link_to event.title, admin_event_path(event) %><br>
        <small class="event-team"><%= event.team %>
          <% event.fields.each do |kind| %>
            <span class="label label-event-<%= kind %>"><%=t kind %></span>
          <% end %>
        </small></h3>

        <p><%= event.other %></p>
        <p><%= simple_format(event.abstract) %></p>

        <ul class="list-unstyled">
          <li><strong><%=t :proposed_space %>: </strong> <%= event.proposed_space %></li>
          <li><strong><%=t :proposed_time %>: </strong> <%= event.proposed_time %></li>
        </ul>

        <small>
          <% if event.submitter %>
              <%=t :contact %>: <%= link_to event.submitter.full_name, admin_submitter_path(event.submitter) %>
              (<%= event.submitter.property %> <%= event.submitter.school || event.submitter.faculty %>, <%= event.submitter.phone %>,
              <a href="mailto:<%= event.submitter.email %>"><%= event.submitter.email %></a>)
          <% end %>
        </small>

        <% if event.repetitions.any? %>
          <div class="list-group">
            <% event.repetitions.each_with_index do |repetition, idy| %>
                <div class="list-group-item">
                  <%= l repetition.date.to_date, format: :sched %>
                  <% if repetition.end_date %>
                    &mdash;
                    <%= l repetition.end_date.to_date, format: :sched %>
                  <% end %>

                  <% if repetition.space_override %>
                    <span class="label label-default"><%= repetition.space_override %></span>
                  <% end %>

                  <span class="badge alert-warning">
                    <a href=<%= edit_admin_event_repetition_path(event,repetition) %> aria-label="Edit">
                       <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </span>

                  <% if repetition.time %>
                    <span class="badge"><%= l repetition.date.to_time, format: :sched %>
                      <% if repetition.duration %>
                        &mdash;
                          <%= l ((repetition.date + repetition.duration.hours).to_time), format: :sched %>
                      <% end %>
                    </span>
                  <% elsif repetition.duration %>
                    <span class="badge alert-info"><%= number_to_human(repetition.duration) %> mins</span>
                  <% end %>
                </div>
            <% end %>
            <div class="list-group-item list-group-item-primary">
              <strong><%=t :dates %>:</strong> <%= format_many_repetitions event.repetitions, time: !repetitions_same_time?(event) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="media-right event-no">
        #<%= idx %>
        <a href="<%= edit_admin_event_url(event) %>" class="btn btn-default"><%=t :edit %></a>
      </div>
    </div>
<% end %>

<br>

<%= link_to 'New Event', new_admin_event_path %>
