<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Title</th>
      <th>Kind</th>
      <th>Other</th>
      <th>Proposed space</th>
      <th>Proposed time</th>
      <th>Submitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.team %></td>
        <td><%= event.title %></td>
        <td><%= event.kind %></td>
        <td><%= event.other %></td>
        <td><%= event.proposed_space %></td>
        <td><%= event.proposed_time %></td>
        <td><%= event.submitter %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @events.each do |event| %>
    <div class="media">
      <div class="media-left">
        <a href="<%= url_for event %> " class="media-object event-kind" data-kind="<%= event.kind %>">
          <img src="<%= asset_path 'kinds/'+event.kind, type: :image %>" alt="<%= event.kind %>">
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><%= link_to event.title, event %><br>
        <small class="event-team"><%= event.team %>
          <span class="label label-event-<%= event.kind %>"><%= event.kind %></span>
        </small></h3>

        <p><%= event.other %></p>
        <ul class="list-unstyled">
          <li><strong>Proposed space: </strong> <%= event.proposed_space %></li>
          <li><strong>Proposed time: </strong> <%= event.proposed_time %></li>
        </ul>

        <small>
          Contact: <%= link_to event.submitter.surname + ' ' + event.submitter.name, event.submitter %>
          (<%= event.submitter.phone %>,
          <a href="mailto:<%= event.submitter.email %>"><%= event.submitter.email %></a>)
        </small>
      </div>
    </div>
<% end %>

<br>

<%= link_to 'New Event', new_event_path %>
