<h1>Import CSV file</h1>

<div class="row">
  <div class="well col-md-6" data-turbolinks="false">
    <h2><%= t :student_week %></h2>

    <h3>Events</h3>
    <%= bootstrap_form_tag(url: import_process_path, multipart: true) do |f| %>
        <%= f.file_field 'submissions' %>
        <%= f.submit "Import Events", class: "btn btn-primary" %>
    <% end %>

    <h3>Volunteers</h3>

    <%= bootstrap_form_tag(url: import_process_volunteers_path, multipart: true) do |f| %>
        <%= f.file_field 'submissions' %>
        <%= f.submit "Import Volunteers", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="well col-md-6" data-turbolinks="false">
    <h2><%= t :professor_week %></h2>

    <h3>Events</h3>
    <%= bootstrap_form_tag(url: import_process_pw_events_path, multipart: true) do |f| %>
      <%= f.file_field 'submissions' %>
      <%= f.submit "Import Events", class: "btn btn-primary" %>
    <% end %>

    <h3>Volunteers</h3>

    <%= bootstrap_form_tag(url: import_process_pw_volunteers_path, multipart: true) do |f| %>
      <%= f.file_field 'submissions' %>
      <%= f.submit "Import Volunteers", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<h1>Process <%= t :professor_week %> events</h1>
<div class="well" data-turbolinks="false">
  <%= bootstrap_form_tag(url: import_process_pw_repetitions_path, html: {style: "display:inline-block"}) do |f| %>
    <%= f.submit "Process Repetitions", class: "btn btn-danger" %>
  <% end %>
  <%= bootstrap_form_tag(url: import_reset_pw_positions_path, html: {style: "display:inline-block"}) do |f| %>
    <%= f.submit "Reset Positions", class: "btn btn-danger" %>
  <% end %>
  <%= bootstrap_form_tag(url: import_process_pw_positions_path, html: {style: "display:inline-block"}) do |f| %>
    <%= f.submit "Process Positions", class: "btn btn-info" %>
  <% end %>
</div>
