{% extends 'base.html.twig' %}

{% block title %}Instance &mdash; {{ instance.name }}{% endblock %}

{% block body %}

    <main class="container" role="main">
        <h1>Instance &mdash; {{ instance.name }}</h1>

        <div class="breadcrumb">
            {{ instance.startDate|date }} &mdash; {{ instance.endDate|date }}
        </div>

        <a class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow"
           href="{{ path('event_index', {instance: instance.id}) }}">
            <img class="mr-3 img-invert" src="{{ asset('assets/icons/book.svg') }}" alt=""
                 width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Events</h6>
                <small>{{ instance.events.count }} events</small>
            </div>
        </a>

        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-green rounded box-shadow">
            <img class="mr-3 img-invert" src="{{ asset('assets/icons/avatar.svg') }}" alt=""
                 width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Volunteers</h6>
                <small>{{ instance.volunteers.count }} volunteers</small>
            </div>
        </div>

        <a class="d-flex align-items-center p-3 my-3 text-white-50 bg-yellow rounded box-shadow"
           href="{{ path('import', {instance: instance.id}) }}">
            <img class="mr-3 img-invert" src="{{ asset('assets/icons/download-1.svg') }}" alt=""
                 width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Import</h6>
            </div>
        </a>

        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-red rounded box-shadow">
            <img class="mr-3 img-invert" src="{{ asset('assets/icons/upload-1.svg') }}" alt=""
                 width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Export</h6>
            </div>
        </div>


    </>
{% endblock %}
