{% extends 0 ? 'base.html.twig' : 'empty.html.twig' %}

{% block title %}Find & Replace{% endblock %}

{% block body %}
<div id="js--results" data-count="{{ matches|length }}">
    {% for match in matches %}
        <div class="media">
            {% set class = match.class|split('\\')|last %}
            <div class="mr-3 media-quickshow" aria-hidden="true" data-type="{{ class }}" title="{{ class|trans }}">
                <span>{{ class|trans|first }}</span>
            </div>
            <div class="media-body">
                <h5 class="mt-0">{{ match.entity }}<br>
                    <small class="text-muted">{{ class|trans }}</small>
                </h5>
                <div class="d-flex">
                    <aside class="col-lg">
                        <ul class="list-unstyled">
                            {% for property in match.properties %}
                                <li><strong>{{ property.name|humanize|trans }}:</strong>
                                {% for part in property.parts -%}
                                    {%- if part.matched -%}
                                        <span class="badge badge-warning">{{- part.value -}}</span>
                                    {%- else -%}
                                        {# TODO: Truncate me #}
                                        {{- part.value -}}
                                    {%- endif -%}
                                {%- endfor -%}
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <aside class="col-lg">
                        <ul class="list-unstyled">
                            {% for property in match.properties %}
                                <li><strong>{{ property.name|humanize|trans }}:</strong>
                                    {{ property.replacedValue }}
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

