{% extends 0 ? 'base.html.twig' : 'empty.html.twig' %}

{% block title %}Find & Replace{% endblock %}

{% block body %}
<div id="js--results" data-count="{{ matches|length }}">
    {{ form_start(form, {attr: {id: 'js--results-form'}}) }}
    {% for match in matches %}
        {% set identifier = match.class|split('\\')|last ~ '.' ~ match.entity.id %}
        <div class="media search-result js--results-result" id="js--results-result-{{ match.class|split('\\')|last }}-{{ match.entity.id }}">
            {% set class = match.class|split('\\')|last %}
            <div class="mr-3 media-quickshow" aria-hidden="true" data-type="{{ class }}" title="{{ class|trans }}">
                <span>{{ class|trans|first }}</span>
            </div>
            <div class="media-body">
                <h5 class="mt-0 clearfix">{{ match.entity }}
                    <aside class="float-right p-2">
                        {% if undo %}
                        <button type="submit" class="btn btn-info" name="undo-entity" value="{{ identifier }}">
                        {% else %}
                        <button type="submit" class="btn btn-light" name="undo-entity" value="undo" disabled>
                        {% endif %}
                            <i class="fas fa-undo"></i> Undo
                        </button>
                        <button type="submit" class="btn btn-danger" name="replace-entity" value="{{ identifier }}"
                        {% if match.willBeTheSame %}disabled{% endif %}><i class="fas fa-bolt"></i> Replace</button>
                    </aside>
                    <br>
                    <small class="text-muted">{{ class|trans }}</small>
                </h5>
                <div class="d-flex clearfix">
                    <div class="col-lg">
                        <ul class="list-unstyled list-properties">
                            {% for property in match.properties %}
                                {% set propIdentifier = identifier ~ '.' ~ property.name %}
                                <li><strong>{{ property.name|humanize|trans }}:</strong>
                                {% for part in property.parts -%}
                                    {%- if part.matched -%}
                                        <a class="badge badge-warning" href="#"
                                        data-target="{{ propIdentifier ~ '.' ~ loop.index }}">{{- part.value -}}</a>
                                    {%- else -%}
                                        {# TODO: Truncate me #}
                                        {{- part.value -}}
                                    {%- endif -%}
                                {%- endfor -%}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg">
                        <ul class="list-unstyled list-properties">
                            {% for property in match.properties %}
                                {% set propIdentifier = identifier ~ '.' ~ property.name %}
                                <li>
                                    <aside class="float-right ml-1 mb-1">
                                        {% if property.undo %}
                                        <button type="submit" class="btn btn-info btn-sm" name="undo-entity" value="{{ propIdentifier }}" title="Undo (this property)"><i class="fas fa-undo"></i></button>
                                        {% else %}
                                        <button type="submit" class="btn btn-light btn-sm" name="undo-entity" value="{{ propIdentifier }}" title="Undo (this property)" disabled><i class="fas fa-undo"></i></button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="replace-entity" value="{{ propIdentifier }}" title="Replace (this property)"><i class="fas fa-bolt"></i></button>
                                    </aside>
                                    <strong>{{ property.name|humanize|trans }}:</strong>
                                    {{ property.replacedValue }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ form_end(form) }}
</div>
{% endblock %}

