<h2><%= t :availability_dates %></h2>

<% @errors.each do |error| %>
  <div class="alert alert-danger"><strong><%= t :error %></strong>! <%= error %></div>
<% end %>

<%= bootstrap_form_tag do |f| %>
  <%= f.text_field :full_name, label: I18n.t(:full_name) %>

  <div>
    <b>Ποιές Κυριακές είστε διαθέσιμοι;</b>
    <table class="table table-striped table-useful">
      <thead>
      <tr>
        <th></th>
        <% Settings.professor_week_event_dates.each do |date| %>
          <th><%= I18n.l date.to_date, format: :day %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% Settings.professor_week_student_times.each do |time| %>
        <tr>
          <th><%= time %></th>
          <% Settings.professor_week_event_dates.each do |date| %>
            <td>
              <div class="styled-input-single styled-input--square"
                   title="<%= I18n.l date.to_date, format: :day %> <%= time %>"
              >
                <input type="checkbox"
                       name="availability-<%= date + '-' + time %>"
                       id="checkbox-<%= time + '-' + date %>"
                >
                <label for="checkbox-<%= time + '-' + date %>"></label>
              </div>
            </td>
          <% end %>
      <% end %>
      </tr>
      </tbody>
    </table>

    <div class="styled-input-single styled-input--square styled-input--red">
      <input type="checkbox"
             name="not_available"
             id="checkbox-not-available"
      >
      <label class="pad" for="checkbox-not-available">Δεν είμαι διαθέσιμος/η καμία Κυριακή.</label>
    </div>
  </div>

  <div class="flat-checkbox">
    <label for="preparation"><span class="ui">Επιθυμείτε να συμμετάσχετε στην προετοιμασία
    και την προώθηση του <%= t :professor_week %>;</span><br>
      <span class="text">(και εκτός των Κυριακών που έχετε δηλώσει παραπάνω)</span>
    </label>
    <br>
    <input type="checkbox" name="preparation" id="preparation"/><label for="preparation"><span class="ui"></span></label>
    <p class="text-muted"><br></p>
  </div>

  <p><br></p>


  <%= f.submit "Υποβολή", class: "btn btn-primary" %>
<% end %>