<%= bootstrap_form_tag(url: email_path) do |f| %>

<p>
  <a class="btn btn-default" href="<%= email_sw_volunteers_path format: :csv %>"><%= t :student_week %> e-mails</a>
  <a class="btn btn-default" href="<%= email_sw_submitters_path format: :csv %>"><%= t :student_week %> submitter e-mails</a>
</p>

<dl class="dl-horizontal">
  <dt>From</dt><dd><%= Settings.email.from %></dd>
  <dt>Debug to</dt><dd>
    <%= Settings.email.debug_to %>
    <button type="submit" name="debug" value="1" class="btn btn-sm btn-danger">Test</button>
  </dd>
</dl>

<table class="table">
<% @volunteers.each_with_index do |group,idx| %>
    <tr>
      <td><%= idx %></td>
      <td><%= group.map(&:email).join(', ') %></td>
      <td><button type="submit" name="group" value="<%= idx %>" class="btn btn-primary">Send</button></td>
    </tr>
<% end %>
</table>

<% end %>
