<!DOCTYPE html>
<html>
  <head>
    <title>StevManager</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= navbar do %>
        <%= navbar_group do %>
          <%= navbar_header brand: 'Student Event Manager', brand_link: root_path  %>
          <%= navbar_item t(:home), root_path %>
          <%= navbar_item t(:events), events_path %>
          <%= navbar_item t(:admin), admin_root_path %>
        <% end %>
      <%= navbar_group align: 'right' do %>
        <% if current_user.present? %>
              <%= navbar_text 'Logged in with ' + current_user.email %>
              <%= navbar_item t(:logout), destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= navbar_item t(:login), new_user_session_path %>
        <% end %>
      <% end %>
    <% end %>
    <div class="container">
      <div class="page_header">
        <h1>Student Event Manager</h1>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
