<!DOCTYPE html>
<html>
  <head>
    <title><%=t controller_name, default: controller_name.humanize %> | Student Event Manager</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
      <%= if @theme then @theme.render end %>
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= navbar container: 'fluid' do %>
      <% if current_user.present? %>
        <%= navbar_group do %>
          <%= navbar_header brand: 'Student Event Manager', brand_link: root_path  %>
          <%= navbar_item t(:events), events_path %>
          <%= navbar_item "%s %s" % [t(:events),t(:professor_week)], events_pw_path %>
          <%= navbar_item t(:volunteers), volunteers_path %>
          <%= navbar_item admin_root_path do %>
            <i class="glyphicon glyphicon-user"></i>&nbsp;
            <%= t :admin %>
          <% end %>
          <%= navbar_item t(:schedule), schedule_path %>
          <%= navbar_item t(:import), import_path %>
          <%= navbar_item t(:surveys), surveys_path %>
          <%= navbar_item t(:emails), email_path %>
        <% end %>
      <% end %>
      <%= navbar_group align: 'right' do %>
        <% if current_user.present? %>
              <%= navbar_text 'Logged in with ' + current_user.email %>
              <%= navbar_item t(:logout), destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= navbar_item t(:login), new_user_session_path %>
        <% end %>
      <% end %>
    <% end %>
    <div class="container">
      <div class="page_header">
        <h1><%=t controller_name, default: controller_name.humanize %></h1>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
